.container {
  width: 100%;
  display: flex;
}

.texte {
  width: 50%;
  padding: 10px;
  text-align: center;
}

.image {
  width: 50%;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

h3 {
  text-align: center;
}

#lien {
  font-style: italic;
}
