h1 {
  text-transform: uppercase;
  text-align: center;
}

h4 {
  text-decoration: underline;
}

.conteneur {
  display: flex;
}

.col1,
.col2 {
  display: inline-block;
  width: 50%;
}

#lien {
  font-style: italic;
}

table {
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

td,
th {
  border: 1px solid black;
}

th {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: cornflowerblue;
}

tr:nth-child(even) {
  background-color: #aaa;
}

label {
  width: 150px;
  display: inline-block;
}

input {
  width: 300px;
  margin-bottom: 10px;
  text-align: center;
}

button[type="submit"] {
  display: block;
  margin: 10px auto;
  padding: 5px 0px;
  width: 100px;
  border-radius: 10px;
  background-color: cornflowerblue;
}

#prio {
  background-color: rgb(166, 210, 210);
  display: inline;
}

@media screen and (max-width: 780px) {
  table {
    width: auto;
  }

  .col1 {
    width: 50%;
  }

  .col2 {
    width: 50%;
  }

  img.responsive-img {
    max-width: 50px;
  }
}
