h1 {
  text-transform: uppercase;
  text-align: center;
}

.conteneur {
  display: flex;
}

.col1,
.col2 {
  display: inline-block;
  width: 50%;
}

#lien {
  font-style: italic;
}

#prio {
  background-color: yellow;
  display: inline;
}

table {
  text-align: center;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
}

th {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: cornflowerblue;
}

tr:nth-child(even) {
  background-color: #aaa;
}

@media screen and (max-width: 780px) {
  .col1 {
    width: 50%;
  }

  .col2 {
    width: 50%;
  }

  img.responsive-img {
    max-width: 50px;
  }
}
